.marginBlock{
    margin: 20px;
}

.truetype{
    color: darkgreen;
    font-weight: 400;
    font-size: 18px;
}

.falsetype{
    color: #e61d1d;
    font-weight: 400;
    font-size: 18px;
}

.radio-class{
    font-size: 18px;
}

.statistics{
    color: rgb(7, 206, 139);
    font-weight: 500;
    display: inline;
}

.inlineBlockLeft{
    display: inline-block;
    width: auto;
    margin-left: 20px;
    float: left;
}

.inlineBlockRigth{
    display: inline-block;
    width: auto;
    margin-right: 20px;
    float: right;
}

.widthBlock{
    width: 45%;
}

.numeric{
    color: #0e0ec9;
    display: inline;
}

.newRow{
    clear: both;
}