<h2 class="leftMarg textPos">Числа</h2>
<div class="leftMarg sizeNum">
  <p>Числа состоят из:</p>

  <!-- <div class="colomNum">
    <p>Единиц</p><p class="unit">1,2,3,4,5,6,7,8,9,0</p>
  </div>
  <div class="colomNum">
    <p>Десятков</p><p class="decades">10,20,30,40,50,60,70,80,90</p>
  </div>
  <div class="colomNum">
    <p>Сотен</p><p class="hundreds">100,200,300,400,500,600,700,800,900</p>
  </div> -->
  
  <div class="splitLine">
    <div class="colomNum unit">
      <p>Единиц</p>
      <p>1 - один</p>
      <p>2 - два</p>
      <p>3 - три</p>
      <p>4 - четыре</p>
      <p>5 - пять</p>
      <p>6 - шесть</p>
      <p>7 - семь</p>
      <p>8 - восемь</p>
      <p>9 - девять</p>
    </div>
    <div class="colomNum decades">
      <p>Десятков</p>
      <p>10 - десять</p>
      <p>20 - двадцать</p>
      <p>30 - тридцать</p>
      <p>40 - сорок</p>
      <p>50 - пятьдесят</p>
      <p>60 - шестьдесят</p>
      <p>70 - семьдесят</p>
      <p>80 - восемьдесят</p>
      <p>90 - девяносто</p>
    </div>
    <div class="colomNum hundreds">
      <p>Сотен</p>
      <p >100 - сто</p>
      <p>200 - двести</p>
      <p>300 - тристо</p>
      <p>400 - четыреста</p>
      <p>500 - пятьсот</p>
      <p>600 - шестьсот</p>
      <p>700 - семьсот</p>
      <p>800 - восемьсот</p>
      <p>900 - девятсот</p>
    </div>
  </div>

<div class="textPos splitLine">
    Сложим 2 числа
  

  <div class="sizeExample">
      <p class="hundreds lineFild">4</p>
      <p class="decades lineFild">6</p>
      <p class="unit lineFild">1</p>
  </div>
  <div class="sizeExample">
      <p class="hundreds lineFild">2</p>
      <p class="decades lineFild">3</p>
      <p class="unit lineFild">7</p>
  </div>
  <hr>
  <div class="sizeExample">
      <p class="hundreds lineFild">6</p>
      <p class="decades lineFild">9</p>
      <p class="unit lineFild">8</p>
  </div>
  <div>
      Получаем цифру <p class="hundreds lineFild">6</p>
                      <p class="decades lineFild">9</p>
                      <p class="unit lineFild">8</p>
      Для этого мы сложили 
        <p class="unit lineFild">Единицы с Единицами: 4+2 = 6</p>  
        <p class="decades lineFild">Десятки с Десятками: 6+3 = 9</p>
        <p class="hundreds lineFild">Сотни с Сотнями: 1+7 = 8</p>                    
  </div>
</div>
<div class="textPos">
    Возьмем пример посложнее

  <div class="textPos sizeExample">
      <p class="hundreds lineFild">2</p>
      <p class="decades lineFild">7</p>
      <p class="unit lineFild">6</p>
  </div>
  <div class="textPos sizeExample">
      <p class="hundreds lineFild">3</p>
      <p class="decades lineFild">5</p>
      <p class="unit lineFild">8</p>
  </div>
  <hr>
  <div class="textPos sizeExample">
      <p class="hundreds lineFild">&nbsp;</p>
      <p class="decades lineFild">1</p>
      <p class="unit lineFild">4</p>
  </div>
  <div class="textPos sizeExample">
      <p class="hundreds lineFild">1</p>
      <p class="decades lineFild">2</p>
      <p class="unit lineFild">&nbsp;</p>
  </div>
  <div class="textPos sizeExample">
      <p class="hundreds lineFild">5</p>
      <p class="decades lineFild">&nbsp;</p>
      <p class="unit lineFild">&nbsp;</p>
  </div>
  <hr>
  <div class="textPos sizeExample">
      <p class="hundreds lineFild">6</p>
      <p class="decades lineFild">3</p>
      <p class="unit lineFild">4</p>
  </div>
  <div class="textPos">
      Получаем цифру <p class="unit lineFild">6</p>
                      <p class="decades lineFild">3</p>
                      <p class="hundreds lineFild">4</p>
      Для этого мы сложили 
        <p class="unit lineFild">Единицы с Единицами: 8+6 = </p><p class="decades lineFild">1</p><p class="unit lineFild">4</p>  
       Мы видим что при сложении мы получили число с 1 десятком и 4 единицами и т.д. 
        <p class="decades lineFild">Десятки с Десятками: 6+3 = 9</p>
        <p class="hundreds lineFild">Сотни с Сотнями: 1+7 = 8</p>                    
  </div>
</div>

</div>