<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/quest">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    Домой
  </a>
  <a class="navbar-brand" href="#" (click)="logout()">
    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
    Выход
  </a>
</nav>

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/quest">Домой</a>
      <a class="nav-item nav-link" (click)="logout()">Выход</a>
  </div>
</nav> -->

<router-outlet></router-outlet>
